/* CSS Global */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('fundo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

/* Estilos do Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: -50px;
    background-color: rgba(44, 62, 80, 0.9);
    position: relative;
}

#logo {
    width: 130px;
    height: auto;
    left: 20px;
}

#menu-toggle {
    position: absolute;
    top: 45px;
    right: 20px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#menu-toggle:hover {
    background-color: #2980b9;
    transform: scale(1.08);
    box-shadow: 0px 0px 8px white;
}

/* Menu de Navegação */
nav {
    position: fixed;
    top: 0;
    left: -250px;
    width: 150px;
    height: 100%;
    background-color: rgba(44, 62, 80, 0.9);
    transition: left 0.3s ease;
    padding: 20px;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 20px 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    color: #3498db;
}

/* Estilos do Banner da Compensação */
.banner-compensacao {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    color: white;
    padding: 20px;
    animation: fadeIn 1s ease-in-out;
}

.banner-compensacao h2 {
    font-size: 3rem;
    margin: 0;
    color: #3498db;
    text-transform: uppercase;
}

.banner-compensacao p {
    font-size: 1.3rem;
    margin-top: 10px;
    color: #ecf0f1;
}

/* Seção de Compensação de Emissões */
.compensacao-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 40px;
}

.card {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 25px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: scale(1.1);
    background-color: rgba(241, 196, 15, 0.9);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100px;
    margin-bottom: 20px;
}

.card h3 {
    color: #3498db;
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.card p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #34495e;
}

.card span {
    font-size: 0.9rem;
    color: #2c3e50;
}

/* Modal */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.modal-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    max-width: 600px;
    width: 100%;
}

.modal-content h3 {
    margin-bottom: 15px;
    color: #3498db;
}

.modal-content p {
    color: #2c3e50;
}

.modal .close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

.modal.visible {
    opacity: 1;
    pointer-events: all;
}

/* Estilos do Footer */
footer {
    background-color: rgba(44, 62, 80, 0.9);
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}
